<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./src/styles/custom.css">
</head>
<body>
<header>
    <nav class="cabecalho">
        <ul>
            <li>Cadastro</li>
            <li>Relatórios</li>
        </ul>
    </nav>
</header>
<div>
    <form action="#">
        <input type="text" placeholder="Descricao">
        <input type="text" placeholder="Preco">
        <input type="date" placeholder="data">
        <input type="date" placeholder="vencimento">
        <input type="text" placeholder="status">
        <button type="submit"> Salvar</button>
        <button type="submit"> Editar</button>
    </form>
</div>
    
</body>
</html>